body{
    background-color: black;
}


#newsarticle-items {
    background-color: white;
    align-content: center;
    
}

.authorName {
    color: blueviolet;
    display: flex;
    flex-direction: row;

    
}

.images {
    font-display: flex;
    flex-direction: row;
    width: 70%;
    height: 70%;

}


.description {
    color: cyan;
}

.publishedAt{

}

.title{
    text

}