body {
    background: lightgoldenrodyellow;
    font-style: italic;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color:brown;
    text-align: center;
}

#btnAddTask {
    background-color:brown;
    font-family: 'Courier New', Courier, monospace;

}

#taskTextBox {
    width: 170px;

}

body > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


